root = true

[*]
charset = utf-8-bom
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
