*.exe
*.dll
*.msi
*.zip

/LocalizationPack/**/*.resx
/LocalizationPack/**/*.pdf

/Temp
/SortRESX
/TinyWall.suo
/TinyWall.v11.suo

/TinyWall/obj
/TinyWall/bin

/TinyWall.Interface/obj
/TinyWall.Interface/bin

/Toaster/obj
/Toaster/bin

/MsiSetup/obj
/MsiSetup/bin

/TinyWall/TaskService
