*.exe
*.dll
*.msi
*.zip
*.suo

/.vs/
/Assets/

/LocalizationPack/**/*.resx
/LocalizationPack/**/*.pdf
/LocalizationPack/ZetaResourceEditor/

/Temp
/SortRESX
/TinyWall.suo
/TinyWall.v11.suo

/TinyWall/obj/
/TinyWall/bin/
/TinyWall/Database.old/

/TinyWall.Interface/obj
/TinyWall.Interface/bin

/pylorak.Windows.Services/obj
/pylorak.Windows.Services/bin

/Toaster/obj
/Toaster/bin

/MsiSetup/obj
/MsiSetup/bin
/MsiSetup/Sources/ProgramFiles/

/NativeHelper/Win32/
/NativeHelper/x64/

/WFPdotNet/bin/
/WFPdotNet/obj/
