<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- String constants -->
  <?define ProductName="TinyWall" ?>
  <?define Manufacturer="Károly Pados" ?>
  <?define Description="A non-intrusive firewall solution." ?>
  <?define ProductURL="http://tinywall.pados.hu" ?>
  <?define ProductVersion="!(bind.fileVersion.TinyWallEXE)" ?>
  <?define OldestUpgradeableVersion="1.9.2.9" ?>

  <!-- Architecture selection -->
  <?if $(var.Platform) = x64 ?>
    <?define BuildArch="x64" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define NgenBitness = "64bit" ?>
    <?define System32Dir = "System64Folder" ?>
  <?else ?>
    <?define BuildArch="x86" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define NgenBitness = "32bit" ?>
    <?define System32Dir = "SystemFolder" ?>
  <?endif ?>

  <Product Id="*" Codepage="1250" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="{0D009F71-BB22-4962-AEE0-6D42FA952B84}">
    <Package Id="*" InstallerVersion="301" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1250" Description="$(var.Description)" Manufacturer="$(var.Manufacturer)" />

    <!-- Automatic media generation and assignment -->
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- Add/Remove Programs -->
    <Property Id="ARPPRODUCTICON" Value="TinyWallIcon.exe" />
    <Property Id="ARPCOMMENTS" Value="$(var.Description)" />
    <Property Id="ARPCONTACT" Value="$(var.Manufacturer)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.ProductURL)" />
    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <!-- Disable use of "Files in Use" dialogs, we manage that ourself over custom actions -->
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <!-- .Net Framework detection -->
    <Condition Message="You need to be running Windows Vista or later to install $(var.ProductName).">VersionNT >= 600</Condition>
    <PropertyRef Id="NETFRAMEWORK35"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message='This setup requires the .NET Framework 3.5 SP1 or newer to be installed.'>
      <![CDATA[NETFRAMEWORK35 OR NETFRAMEWORK40FULL]]>
    </Condition>

    <!-- Feature description -->
    <Feature Id="ProductFeature" Title="Complete" Description="The complete package." ConfigurableDirectory="INSTALLDIR" Level="1">
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='MainExecutableConfig' />
      <ComponentRef Id='gac_MainExecutable' />
      <ComponentRef Id='Toaster' />
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id='RemoveAppDataDir' />
      <ComponentRef Id='RegistryKeys' />
      <ComponentRef Id='License' />
      <ComponentRef Id='Attributions' />
      <ComponentRef Id='NetFwTypeLib' />
      <ComponentRef Id='gac_NetFwTypeLib' />
      <ComponentRef Id='XmlSerializersLib' />
      <ComponentRef Id='gac_XmlSerializersLib' />
      <ComponentRef Id='Database' />
      <ComponentRef Id='hosts' />
      <ComponentGroupRef Id='Localizations' />
      <ComponentGroupRef Id='Documentation' />
    </Feature>

    <!-- Search for older versions -->
    <Property Id="OLDER_INCOMPATIBLE_FOUND" Secure="yes" />
    <Property Id="OLDER_UPGRADEABLE_FOUND" Secure="yes" />
    <Property Id="SELF_FOUND" Secure="yes" />
    <Property Id="NEWER_FOUND" Secure="yes" />
    <Upgrade Id='{0D009F71-BB22-4962-AEE0-6D42FA952B84}'>
      <UpgradeVersion OnlyDetect='yes' Property='OLDER_INCOMPATIBLE_FOUND'
        Maximum="$(var.OldestUpgradeableVersion)" IncludeMaximum='no' />
      <UpgradeVersion Property='OLDER_UPGRADEABLE_FOUND'
        Minimum="$(var.OldestUpgradeableVersion)" IncludeMinimum='yes'
        Maximum="$(var.ProductVersion)" IncludeMaximum='no' />
      <UpgradeVersion OnlyDetect='yes' Property='SELF_FOUND'
        Minimum="$(var.ProductVersion)" IncludeMinimum='yes'
        Maximum="$(var.ProductVersion)" IncludeMaximum='yes' />
      <UpgradeVersion OnlyDetect='yes' Property='NEWER_FOUND'
        Minimum="$(var.ProductVersion)" IncludeMinimum='no' />
    </Upgrade>

    <!-- Custom actions -->
    <CustomAction Id='FoundIncompatibleVersion' Error='An older version of $(var.ProductName) is installed that cannot be automatically updated. Please uninstall the existing version first, then try again.' />
    <CustomAction Id='FoundNewerVersion' Error='A newer version of $(var.ProductName) is already installed. Installation cannot continue.' />
    <CustomAction Id='InstallCustom' FileKey='TinyWallEXE' ExeCommand='/install' Return='check' Execute='deferred' Impersonate='no' />
    <CustomAction Id='InstallCustomRollback' FileKey='TinyWallEXE' ExeCommand='/uninstall' Return='check' Execute='rollback' Impersonate='no' />
    <CustomAction Id='UninstallCustom' FileKey='TinyWallEXE' ExeCommand='/uninstall' Return='check' Execute='deferred' Impersonate='no' />
    <CustomAction Id='StartControllerAndDetect' FileKey='TinyWallEXE' ExeCommand='/desktop /autowhitelist' Return='asyncNoWait' Execute='deferred' />
    <CustomAction Id='StartController' FileKey='TinyWallEXE' ExeCommand='/desktop' Return='asyncNoWait' Execute='deferred' />

    <!-- Sequencing -->
    <InstallExecuteSequence>
      <!-- FindRelatedProducts -->
      <Custom Action='FoundNewerVersion' After='FindRelatedProducts'>NEWER_FOUND</Custom>
      <Custom Action='FoundIncompatibleVersion' After='FindRelatedProducts'>OLDER_INCOMPATIBLE_FOUND</Custom>
      <!-- InstallValidate -->
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
      <RemoveExistingProducts After='InstallValidate'>OLDER_UPGRADEABLE_FOUND</RemoveExistingProducts>
      <!-- InstallInitialize -->
      <Custom Action='UninstallCustom' Before='UnpublishFeatures'>Installed</Custom>
      <Custom Action='InstallCustomRollback' Before='InstallCustom'>NOT Installed</Custom>
      <Custom Action='InstallCustom' After='InstallFiles'>NOT Installed</Custom>
      <Custom Action='StartControllerAndDetect' After='InstallCustom'>(NOT Installed) AND (NOT OLDER_UPGRADEABLE_FOUND)</Custom>
      <Custom Action='StartController' After='InstallCustom'>(NOT Installed) AND OLDER_UPGRADEABLE_FOUND</Custom>
      <!-- InstallFinalize -->
    </InstallExecuteSequence>

    <!-- Sequencing -->
    <InstallUISequence>
      <Custom Action='FoundNewerVersion' After='FindRelatedProducts'>NEWER_FOUND</Custom>
      <Custom Action='FoundIncompatibleVersion' After='FoundNewerVersion'>OLDER_INCOMPATIBLE_FOUND</Custom>
    </InstallUISequence>

    <!-- UI definition and overrides -->
    <UIRef Id="WixUI_Minimal" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value='The default configuration of TinyWall is to block most programs. If an application is unable to access the network, remember to use one of the "Whitelist by..." options from the tray menu.' />
    <WixVariable Id="WixUILicenseRtf" Value="Sources\ProgramFiles\TinyWall\License.rtf" />

  </Product>

  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Program Files -->
      <Directory Id="$(var.PlatformProgramFilesFolder)" Name="ProgramFiles">
        <Directory Id="INSTALLDIR" Name="TinyWall">
          <Component Id="Toaster" Guid="{B6599991-DD47-4745-AA99-447EE7C56C5C}" Win64="$(var.Win64)">
            <Condition>VersionNT >= 602</Condition>
            <File Id="ToasterEXE" Source="Sources\ProgramFiles\TinyWall\Toaster.exe" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="MainExecutable" Guid="{D0A4DEC7-42C7-48F1-912D-76A4B33AC644}" Win64="$(var.Win64)">
            <File Id="TinyWallEXE" Source="Sources\ProgramFiles\TinyWall\TinyWall.exe" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="MainExecutableConfig" Guid="{81CD5E43-FAE3-4B3C-AA84-A7A0C660FDB4}" Win64="$(var.Win64)">
            <File Id="TinyWallCONFIG" Source="Sources\ProgramFiles\TinyWall\TinyWall.exe.config" KeyPath="yes" />
          </Component>
          <Component Id="License" Guid="{2F2FF77C-8900-406A-AB6E-6DCFF4B53463}" Win64="$(var.Win64)">
            <File Id="LicenseRTF" Source="Sources\ProgramFiles\TinyWall\License.rtf" KeyPath="yes" />
          </Component>
          <Component Id="Attributions" Guid="{76058250-1331-4D79-B09C-2B6ADEC3E7E2}" Win64="$(var.Win64)">
            <File Id="AttributionsTXT" Source="Sources\ProgramFiles\TinyWall\Attributions.txt" KeyPath="yes" />
          </Component>
          <Component Id="NetFwTypeLib" Guid="{7AB618A2-D50A-499A-93B9-101AEF6BC809}" Win64="$(var.Win64)">
            <File Id="NetFwTypeLibDLL" Source="Sources\ProgramFiles\TinyWall\Interop.NetFwTypeLib.dll" Vital="yes" KeyPath="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Component Id="XmlSerializersLib" Guid="{C4ABBB1A-478B-4BDA-953B-CF1F8C39AF41}" Win64="$(var.Win64)">
            <File Id="XmlSerializersDLL" Source="Sources\ProgramFiles\TinyWall\TinyWall.XmlSerializers.dll" Vital="yes" KeyPath="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
          </Component>
          <Directory Id="LOCDIR_es" Name="es">
            <Component Id="LocSatelliteLib_es" Guid="{164A848E-99AB-4FF3-BFEE-400B0C43E9B0}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_es" Source="Sources\ProgramFiles\TinyWall\es\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_hu" Name="hu">
            <Component Id="LocSatelliteLib_hu" Guid="{B976793E-5A50-42A6-8164-DC1337862A0F}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_hu" Source="Sources\ProgramFiles\TinyWall\hu\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_fr" Name="fr">
            <Component Id="LocSatelliteLib_fr" Guid="{C5A9E9ED-2298-461B-8EFC-536717B2EC57}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_fr" Source="Sources\ProgramFiles\TinyWall\fr\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ja" Name="ja">
            <Component Id="LocSatelliteLib_ja" Guid="{35185D2D-D623-4174-92A9-ECB743C4B712}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ja" Source="Sources\ProgramFiles\TinyWall\ja\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_de" Name="de">
            <Component Id="LocSatelliteLib_de" Guid="{F7BC44A5-6433-4CA9-9FD2-C820EE506A1D}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_de" Source="Sources\ProgramFiles\TinyWall\de\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_nl" Name="nl">
            <Component Id="LocSatelliteLib_nl" Guid="{DE072136-DEC8-4020-8FE8-0F41B04A65ED}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_nl" Source="Sources\ProgramFiles\TinyWall\nl\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ru" Name="ru">
            <Component Id="LocSatelliteLib_ru" Guid="{E6ACA74E-3D0E-47D8-BF85-AC4925B89E5B}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ru" Source="Sources\ProgramFiles\TinyWall\ru\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="LOCDIR_ptBR" Name="pt-BR">
            <Component Id="LocSatelliteLib_ptBR" Guid="{6629C09A-05EE-4767-9DE4-E1B0BB9DA9D2}" Win64="$(var.Win64)">
              <File Id="LocSatelliteDLL_ptBR" Source="Sources\ProgramFiles\TinyWall\pt-BR\TinyWall.resources.dll" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" AssemblyApplication="TinyWallEXE" />
            </Component>
          </Directory>
          <Directory Id="DOCDIR" Name="doc">
            <Component Id="DocWhatsNewComp" Win64="$(var.Win64)">
              <File Id="DocWhatsNewFile" Source="Sources\ProgramFiles\TinyWall\doc\whatsnew.html" Vital="yes" KeyPath="yes" Checksum="yes" />
            </Component>
            <Component Id="DocFAQComp" Win64="$(var.Win64)">
              <File Id="DocFAQFile" Source="Sources\ProgramFiles\TinyWall\doc\faq.html" Vital="yes" KeyPath="yes" Checksum="yes" />
            </Component>
            <Directory Id="DOCCSSDIR" Name="css">
              <Component Id="DocCss00Comp" Win64="$(var.Win64)">
                <File Id="DocCss00File" Source="Sources\ProgramFiles\TinyWall\doc\css\1140.css" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
              <Component Id="DocCss01Comp" Win64="$(var.Win64)">
                <File Id="DocCss01File" Source="Sources\ProgramFiles\TinyWall\doc\css\ie.css" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
              <Component Id="DocCss02Comp" Win64="$(var.Win64)">
                <File Id="DocCss02File" Source="Sources\ProgramFiles\TinyWall\doc\css\style.css" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
            </Directory>
            <Directory Id="DOCIMGDIR" Name="img">
              <Component Id="DocImg00Comp" Win64="$(var.Win64)">
                <File Id="DocImg00Comp" Source="Sources\ProgramFiles\TinyWall\doc\img\exception_details.png" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
              <Component Id="DocImg01Comp" Win64="$(var.Win64)">
                <File Id="DocImg01Comp" Source="Sources\ProgramFiles\TinyWall\doc\img\tray_menu.png" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
              <Component Id="DocImg02Comp" Win64="$(var.Win64)">
                <File Id="DocImg02Comp" Source="Sources\ProgramFiles\TinyWall\doc\img\unblock_task_dial.png" Vital="yes" KeyPath="yes" Checksum="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- GAC -->
      <Component Id="gac_MainExecutable" Guid="{8487EFE8-C7C1-4832-93B1-C72C7997BC91}" Win64="$(var.Win64)">
        <File Id="gac_TinyWallEXE" Source="Sources\ProgramFiles\TinyWall\TinyWall.exe" Vital="yes" KeyPath="yes" Checksum="yes" Assembly=".net" />
      </Component>
      <Component Id="gac_NetFwTypeLib" Guid="{9EC03A82-4E6F-4456-8C8E-878400C34EC7}" Win64="$(var.Win64)">
        <File Id="gac_NetFwTypeLibDLL" Source="Sources\ProgramFiles\TinyWall\Interop.NetFwTypeLib.dll" Vital="yes" KeyPath="yes" Assembly=".net" />
      </Component>
      <Component Id="gac_XmlSerializersLib" Guid="{70CD3800-B50A-4BA0-9A04-4B2BE48AFF8D}" Win64="$(var.Win64)">
        <File Id="gac_XmlSerializersDLL" Source="Sources\ProgramFiles\TinyWall\TinyWall.XmlSerializers.dll" Vital="yes" KeyPath="yes" Assembly=".net" />
      </Component>

      <!-- ProgramData -->
      <Directory Id="CommonAppDataFolder" Name="CommonAppData">
        <Directory Id="AppDataDir" Name="TinyWall">
          <Component Id="Database" Guid="{988A8CB6-614A-4568-809A-7D6AE512F30A}" Win64="$(var.Win64)">
            <File Id="DatabaseXML" Source="Sources\CommonAppData\TinyWall\profiles.xml" Vital="yes" KeyPath="yes" />
          </Component>
          <Component Id="hosts" Guid="{3AF39B32-B459-4A47-860F-B4E679712BD8}" Win64="$(var.Win64)">
            <File Id="HostsBCK" Source="Sources\CommonAppData\TinyWall\hosts.bck" Vital="yes" KeyPath="yes" />
          </Component>
          <Component Id="RemoveAppDataDir" Guid="{EE339191-7EC0-4F07-AF89-6527658FC9D7}" Win64="$(var.Win64)" Transitive="yes">
            <RemoveFile Id="AppDataDirFiles" On='install' Name='*' />
            <RemoveFolder Id="AppDataDirFolder" On='install' />
            <Condition><![CDATA[NOT OLDER_UPGRADEABLE_FOUND]]></Condition>
          </Component>
        </Directory>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
          <Component Id="ProgramMenuDir" Guid="{14A26A5D-7F56-485F-98DE-9407F1E93F57}" Win64="$(var.Win64)">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[ProductName]' Type='string' Value='' KeyPath='yes' />
            <Shortcut Id="ControllerShortcut" Icon="TinyWallIcon.exe" Directory="ProgramMenuDir" Name="TinyWall Controller" Arguments="/desktop" Target="[INSTALLDIR]TinyWall.exe">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="KPados.TinyWall.Controller" />
            </Shortcut>
            <Shortcut Id="DevelToolShortcut" Icon="TinyWallIcon.exe" Directory="ProgramMenuDir" Name="TinyWall Dev Helper" Arguments="/develtool" Target="[INSTALLDIR]TinyWall.exe">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="KPados.TinyWall.DevelTool" />
            </Shortcut>
            <Shortcut Id="FAQShortcut" Directory="ProgramMenuDir" Name="FAQ" Target="[INSTALLDIR]doc\faq.html"/>
            <Shortcut Id="WhatsNewShortcut" Directory="ProgramMenuDir" Name="What's new" Target="[INSTALLDIR]doc\whatsnew.html"/>
            <util:InternetShortcut Id="WebsiteShortcut" Name="Website" Target="$(var.ProductURL)"/>
            <!-- <Shortcut Id="UninstallProduct"
                      Name="Uninstall TinyWall"
                      Target="[$(var.System32Dir)]msiexec.exe"
                      Arguments="/x [ProductCode]" /> -->
          </Component>
        </Directory>
      </Directory>

    </Directory>

    <!-- Registry -->
    <Component Id="RegistryKeys" Guid="{85FFE113-2363-4EF9-AAA4-05F522907839}" Directory="INSTALLDIR" Win64="$(var.Win64)">
      <RegistryKey Id='RegInstallDir' Root='HKLM' Key='Software\TinyWall' ForceDeleteOnUninstall='yes'>
        <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
      </RegistryKey>
    </Component>

    <!-- Icons -->
    <Icon Id="TinyWallIcon.exe" SourceFile="Sources\ProgramFiles\TinyWall\TinyWall.ico" />

    <!-- Localization groupping -->
    <ComponentGroup Id="Localizations">
      <ComponentRef Id="LocSatelliteLib_es"/>
      <ComponentRef Id="LocSatelliteLib_hu"/>
      <ComponentRef Id="LocSatelliteLib_fr"/>
      <ComponentRef Id="LocSatelliteLib_ja"/>
      <ComponentRef Id="LocSatelliteLib_de"/>
      <ComponentRef Id="LocSatelliteLib_nl"/>
      <ComponentRef Id="LocSatelliteLib_ru"/>
      <ComponentRef Id="LocSatelliteLib_ptBR"/>
    </ComponentGroup>

    <!-- Documentation groupping -->
    <ComponentGroup Id="Documentation">
      <ComponentRef Id="DocWhatsNewComp"/>
      <ComponentRef Id="DocFAQComp"/>
      <ComponentRef Id="DocCss00Comp"/>
      <ComponentRef Id="DocCss01Comp"/>
      <ComponentRef Id="DocCss02Comp"/>
      <ComponentRef Id="DocImg00Comp"/>
      <ComponentRef Id="DocImg01Comp"/>
      <ComponentRef Id="DocImg02Comp"/>
    </ComponentGroup>
    
  </Fragment>

</Wix>